- if style == 'source'
  ac:structured-macro ac:name="code"
    - confluence_lang = map_to_confluence_supported_lang source_lang
    - unless confluence_lang.nil?
      ac:parameter ac:name="language" #{confluence_lang}
    - if title?
      ac:parameter ac:name="title" #{title}
    - if (attr? :collapse, 'true')
      ac:parameter ac:name="collapse" = (attr :collapse)
    - if attr? :linenums
      ac:parameter ac:name="linenumbers" true
    - if attr? :start
      ac:parameter ac:name="firstline" =(attr :start)
    = (macro_param_if_present_in_attr "theme")
    ac:plain-text-body
      =="<![CDATA["
      ==unescaped content
      =="]]>"
- else
  ac:structured-macro ac:name="noformat"
    - if title?
      ac:parameter ac:name="title" #{title}
    ac:plain-text-body
      =="<![CDATA["
      ==unescaped content
      =="]]>"
