- if style == 'source'
  include _code_block.html
- else
  ac:structured-macro ac:name="noformat"
    - if title?
      ac:parameter ac:name="title" #{title}
    ac:plain-text-body
      =="<![CDATA["
      ==unescaped content
      =="]]>"
