- alignment = confluence_text_alignment
*{tag: %(h#{section_level}), style: alignment}
  =section_title
  ac:structured-macro ac:name="anchor"
      ac:parameter ac:name=""
       =(anchor_name id)
=line_break
=content
